<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle
    Name="ThorCash Financial System"
    Version="!(bind.packageVersion.ThorCashMsi)"
    Manufacturer="Thor Technologies"
    UpgradeCode="7A8B3C4D-5E6F-4A7B-8C9D-0E1F2A3B4C5D"
    IconSourceFile="$(var.IconPath)"
    AboutUrl="https://thorcash.com">

    <bal:Condition
      Message="You must be an administrator to install ThorCash. Please run this installer as Administrator.">
      Privileged
    </bal:Condition>

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(var.ProjectDir)\..\..\installer\eula.rtf"
        SuppressOptionsUI="no"
        SuppressRepair="no"
        ShowFilesInUse="yes"
        LaunchTarget="[InstallFolder]ThorCash.exe"/>
    </BootstrapperApplicationRef>

    <Chain
      DisableSystemRestore="no"
      ParallelCache="yes">
      <RollbackBoundary Id="DefaultRollbackBoundary" />

      <MsiPackage
        Id="ThorCashMsi"
        SourceFile="$(var.MsiPath)"
        Compressed="yes"
        Vital="yes"
        DisplayInternalUI="no"
        SuppressSignatureVerification="no">
        <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
